[submodule "TGEngine"]
	path = TGEngine
	url = https://github.com/MrTroble/TGEngine
[submodule "nifly"]
	path = nifly
	url = https://github.com/ousnius/nifly
[submodule "bsa"]
	path = bsa
	url = https://github.com/Ryan-rsm-McKenzie/bsa.git
